<div class="container">
  <app-navi></app-navi>
  <div class="mb-4"></div>
  <!-- Üstte boşluk bırakmak için -->

  <div class="row">
    <div class="col-md-3 text-center">
      <h4 routerLink="cars" class="bg-primary text-white py-2 mb-2 rounded">Brands</h4>
      <app-brand></app-brand>
    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="mb-3"></div>
  <div class="row">
    <div class="col-md-3 text-center">
      <h4 routerLink="cars" class="bg-success text-white py-2 mb-2 rounded">Colors</h4>
      <app-color></app-color>
    </div>
  </div>
  <div class="mb-3"></div>
  <div class="row">
    <div class="col-md-3 text-center">
      <h4 class="bg-secondary text-white py-2 mb-2 rounded">Customers</h4>
      <app-customer></app-customer>
    </div>
    <div class="col-md-9">
      <app-rental></app-rental>
    </div>
  </div>
</div>
